# 100 Days of Code: Python Bootcamp - Day 72 - Data Exploration with Pandas

### Import necessary libraries

In [3]:
import pandas as pd

### Generate dataframe

In [17]:
df = pd.read_csv('salaries_by_college_major.csv')
df = df.dropna()

### Explore data

##### Rows X Columns

In [18]:
df.shape

(50, 6)

In [32]:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,41600.0,76800.0,50600.0,136000.0,Business

##### List of columns

In [20]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

##### Statistical Data

In [31]:
df.describe().round()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
count,50.0,50.0,50.0,50.0
mean,44310.0,74786.0,43408.0,142766.0
std,9361.0,16088.0,12001.0,27851.0
min,34000.0,52000.0,26700.0,96400.0
25%,37050.0,60825.0,34825.0,124250.0
50%,40850.0,72000.0,39400.0,145500.0
75%,49875.0,88750.0,49850.0,161750.0
max,74300.0,107000.0,71900.0,210000.0

##### Find the undergraduate course with the highest starting median salary

In [34]:
print(df['Starting Median Salary'].idxmax())

43

In [37]:
print(df.iloc[43])

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object